.footer {
    background-color: #C8E3DE;
    .footer-content {
      display: flex;
      align-items: center;
      column-gap: 120px;
      row-gap: 30px;
      padding: 70px 0px;
      max-width: 1320px;
      margin: auto;
      .footer-logo {
        img {
          width: 75%;
        }
      }
      @media only screen and (max-width: 1320px) {
        padding: 10px 10px;
      }
      @media only screen and (max-width: 1200px) {
        column-gap: 8%;
      }
      @media only screen and (max-width: 1000px) {
        justify-content: center;
        flex-wrap: wrap;
        .footer-logo {
          display: none;
        }
      }
      .individual-detail {
        text-align: left;
        display: grid;
        row-gap: 10px;
        .detail-title {
          color: #659B9B;
          text-decoration: none;
          font-size: 25px;
          font-weight: 600;
        }
        .detail {
          color: #659B9B;
          text-decoration: none;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }