.YeahButton {
    .button {
      button {
        width: 150px;
        margin-bottom: 0px;
      }
    }
  }
  
  .CancelButton {
    .button {
      button {
        background-color: gray;
        width: 150px;
        margin-bottom: 0px;
      }
  
      button:hover {
        color: rgb(51, 48, 48);
        border: none;
        background-color: rgb(96, 93, 93);
      }
    }
  }