.YeahButton {
    .button {
      button {
        width: 150px;
        margin-bottom: 0px;
      }
    }
  }
  
  .CancelButton {
    .button {
      button {
        background-color: gray;
        width: 150px;
        margin-bottom: 0px;
      }
    }
  }