.header {
    background-color: #C8E3DE;

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #C8E3DE;
        color: #659B9B;
        padding: 10px 0px;
        max-width: 1320px;
        margin: 0 auto;

        @media only screen and (max-width: 1320px) {
            padding: 10px 10px;
        }

        .top-logo {
            img {
                width: 80%;
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        column-gap: 50px;

        .home-li {
            padding: 5px 25px;
            border: 2px solid;
            border-radius: 7px;

            @media (max-width: 700px) {
                border-radius: 0px;
            }
        }
    }

    .menu>li {
        // margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: green;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .fa-home {
        font-size: 15px;
        text-align: left;
    }

    .md-account {
        font-size: 20px;
    }

    .menu-item {
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #EEEEEE;
        }
    }

    .md-box-arrow {
        font-size: 20px;
    }

    .react-icons {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #659B9B;

        .icon-margin {
            margin-right: 10px;
        }
    }

    .log-out {
        margin-right: 10px;
    }

    @media (max-width: 700px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 60px;
            margin-top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            z-index: 10;
            box-shadow: 0px 8px 10px rgba($color: #000000, $alpha: 0.5);
        }

        #menu-toggle~.menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        #menu-toggle:checked~.menu li {
            border: 1px solid #fff;
            height: 2.5em;
            padding: 0.5em 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .menu>li {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: green;
        }

        .menu>li:not(:last-child) {
            border-bottom: 1px solid #fff;
        }
    }
}